/*======================================================

	*** INDEX ***

  ベース
    - ファーストビュー

  パソコンのみ
    - 

======================================================*/

/*===============================

	ベース

================================*/

/*
	ファーストビュー

  - 高さ、テキスト位置指定など
================================*/
.topText {
  font-size: 14px;
  line-height: 24px;
}

.topSection {
  background-color: var(--yellow);
}

.firstView {
  position: relative;
  min-height: 100lvh;
}
.firstViewTitle {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstViewTitle h1 {
  font-size: 18px;
  width: 100%;
}

.secondAbout {
  padding-bottom: 80px;
}

.secondAboutItem {
  display: flex;
  flex-flow: column;
  gap: 16px;
  background-color: var(--white);
  border-radius: 32px;
  padding: 40px 16px;
  text-align: center;
}

.about {
  display: flex;
  flex-flow: wrap;
  gap: 32px;
}

.aboutColumn {
  width: 100%;
  height: auto;
  padding: 40px;
  border-radius: 32px;
  border: 2px solid var(--headLine);
}

.aboutText {
  display: flex;
  gap: 8px;
  flex-flow: column;
}

.aboutTechnology {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.hamburger {
  position: relative;
  width: 32px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .firstViewTitle h1 {
    font-size: 40px;
    line-height: 64px;
  }
  .topText {
    font-size: 16px;
    line-height: 32px;
  }

  .secondAbout {
    padding: 0 32px;
    padding-bottom: 120px;
  }
  .secondAboutItem {
    gap: 40px;
    max-width: 1240px;
    width: 100%;
    padding: 80px 106px;
    margin: auto;
    text-align: left;
  }

  .aboutColumn {
    gap: 16px;
  }

  .doubleColumn {
    width: calc(50% - 16px);
  }
}
